.wrapper {
    margin: 0 auto;
    padding: 20px;
}

/* Button styling */

.btn {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn_login {
    font-size: .875em;
    margin-left: 10px;
    background: rgba(0,0,0,0.3)
}

.btn_login:hover{
    color: #fff;
    background: rgba(0,0,0,0.5)
}

/* End Button styling */

/* Signup page */

.header_main {
    padding: 110px 0 35px;
    position: relative;
    color: white;
}

.header_main h2 {
    text-align: center;
    font-weight: inherit;
}

.header_logo,
.header_login {
    position: absolute;
}

.header_logo {
    top: 20px;
    left: 0;
}

.header_login {
    right: 0;
    top: 20px;
}

.header_login span {
    font-weight: 300;
}

.signup-page {
    max-width: 800px;
    margin: 0 auto;
}

.login-content,
.signup-content {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 3px 20px 0 rgba(0,0,0,0.15);
    overflow: hidden;
}

.signup-content {
    padding: 40px;
}

.signup-content .page-body {
    width: calc(100% - 332px);
}

.signup-form.side-left {
    width: 332px;
}

.signup-content .page-body, 
.signup-form.side-left {
    float:left;
}

.signup-content .benefits.page-body {
    padding-right: 40px;
}

.benefits hr {
    margin: 20px 40px 30px;
}

.login-page h3,
.benefits h3 {
    color: #3a2778;
}

.benefits p {
    padding-bottom: 20px;
}

.user-information p,
.login-page p,
.benefits p {
    font-size: 0.875em;
    color: #333;
}

form input {
    margin: 0 0 5px 0;
    border-radius: 5px;
    font-size: 0.875em;
    width: 100%;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    border-radius: 5px;
}

form input[type="text"],
form input[type="password"] {
    border: 1px solid #d2d2d2;
    text-indent: 10px;
    padding: 5px 0;
}

form input[type="submit"] {
    margin: 10px 0 0;
    padding: 10px;
    border: none;
    background: dodgerblue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.login-page label,
.signup-page label {
    font-weight: 300;
    display: block;
    font-size: .875em;
    margin-top: 4px;
}

sub.required {
    padding-left: 4px;
    color: #f32020;
}

/* End Signup page */

/* Login page */

.login-page {
    width: 432px;
    margin: 0 auto;
}

.login-content {
    padding: 40px 40px 100px 40px;
}

.login-footer {
    padding: 20px 40px;
    border-top: solid 2px #d2d2d2;
    background: #e2e2e2;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* End login page */

.banner_wrapper {
    margin: 0 auto;
    background: #f6f6f6;
    padding: 20px;
}

.banner_content {
    margin-top: 20px;
    border: solid 2px #555;
    padding: 10px;

    border-radius: 5px;
}

.confirm,
.error {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.confirm p,
.error p {
    font-weight: 700;
    margin: 0;
}

.error {
    background: #F79D98;
    border: 2px solid #f32020;
}

.error p {
    color: #f32020;
}

.confirm {
    background: #7eea7e;
    border: 2px solid #26b926;
}

.confirm p {
    color: #26b926;
}